
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

body {
    background: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.shade, .shade:focus {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
}

.shade::placeholder {
    color: #fff;
}

.heading {
    color: #88a6ba;
    margin-top: 10px;
}

.hide {
    display: none;
}

.display-center {
    display: flex;
    align-items: center;
    justify-content: center;
}



